In [1]:
import spacy
from spacy import displacy
from collections import Counter
import en_core_web_sm
import pandas as pd
import numpy as np

nlp = en_core_web_sm.load()

In [2]:
# build keywords for non-personal entities, based on dataset

org_list = ['llc', 'inc', 'ltd', 'limited', 'corporation', 'union', 'bank', 'company', 'organization', 'association', 'trust', 'corp', 'county', 'political', 'center', 'department', 'venture']
person_list = ['man', 'woman', 'men', 'women', 'person']
relationship_list = ['husband', 'wife', 'married', 'spouse', 'spouses', 'tenants', 'tenant']
other_person_list = ['his', 'her', 'who', 'aka', 'a/k/a', 'jr', 'sr', 'widow', 'widower']

In [3]:
# Get lines, one by one
# Prepare dataset with simple word list above
# This dataset will be useful to evaluate with any other method. e.g. spacy 

data_columns = ['Number', 'String', 'Type', 'Method']
data         = pd.DataFrame(columns=data_columns)

with open('Names.txt') as input:
    for line in input:
        if any(word in line.lower() for word in org_list):
            line_split = line.split(' ~ ')
            row = pd.Series([line_split[0], line_split[1], 'ORG', 'org_list'],  index=data_columns)
            row.fillna(0, inplace=True)
            data = data.append(row, ignore_index=True) 
        elif any(word in line.lower() for word in person_list):
            line_split = line.split(' ~ ')
            row = pd.Series([line_split[0], line_split[1], 'PERSON', 'person_list'],  index=data_columns)
            row.fillna(0, inplace=True)
            data = data.append(row, ignore_index=True)
        elif any(word in line.lower() for word in relationship_list):
            line_split = line.split(' ~ ')
            row = pd.Series([line_split[0], line_split[1], 'PERSON', 'relationship_list'],  index=data_columns)
            row.fillna(0, inplace=True)
            data = data.append(row, ignore_index=True)
        elif any(word in line.lower() for word in other_person_list):
            line_split = line.split(' ~ ')
            row = pd.Series([line_split[0], line_split[1], 'PERSON', 'other_person_list'],  index=data_columns)
            row.fillna(0, inplace=True)
            data = data.append(row, ignore_index=True)
        else:
            # unclassified - none of the keywords present
            # Check if spacy helps here
            
            line_split = line.split(' ~ ')
            result = nlp(line_split[1])
            
            entity_list = ''
            for X in result.ents:
                entity_list = entity_list + ' ' + X.label_
            
            if 'ORG' in entity_list:
                row = pd.Series([line_split[0], line_split[1], 'ORG', 'SPACY_NER'],  index=data_columns)
                row.fillna(0, inplace=True)
                data = data.append(row, ignore_index=True)
            elif 'PERSON' in entity_list:
                row = pd.Series([line_split[0], line_split[1], 'PERSON', 'SPACY_NER'],  index=data_columns)
                row.fillna(0, inplace=True)
                data = data.append(row, ignore_index=True)
            else:
                row = pd.Series([line_split[0], line_split[1], 'UNCLASSIFIED', 'UNCLASSIFIED'],  index=data_columns)
                row.fillna(0, inplace=True)
                data = data.append(row, ignore_index=True)
        continue

# Analysis
# 
# Spacy results are very poor (<50%)
# This is possibly due to the fact that most ORG names also include person names 
#
# Changing the string to lower affects results a lot - shows inefficiency of the algorithm
# result = nlp(line.lower()) - 1017 14 8 (line_count, person_count, org_count)
# result = nlp(line) - 1017 260 554 (line_count, person_count, org_count)
# 
# Build set of generic words, depicting relationship, gender, and orginaliztion
# Only go to spacy, if none of these words are directly present. 
# 
# Space NER has better accuracy, if we get rid of numbers 
#

#
# Other Ideas
# 1. Surnames will be same for husband and wife - so check for one name coming more than once in a line
#    Exception - companies can also fall in this category. So put org list on top of everything else. 
#
'''
import collections
sentence = 'Richard Christiansen and Cedar Christiansen, who acquired title as Cedar Ousele'
words = sentence.split()
word_counts = collections.Counter(words)
for word, count in sorted(word_counts.items()):
    print('"%s" is repeated %d time%s.' % (word, count, "s" if count > 1 else ""))
'''

'\nimport collections\nsentence = \'Richard Christiansen and Cedar Christiansen, who acquired title as Cedar Ousele\'\nwords = sentence.split()\nword_counts = collections.Counter(words)\nfor word, count in sorted(word_counts.items()):\n    print(\'"%s" is repeated %d time%s.\' % (word, count, "s" if count > 1 else ""))\n'

In [4]:
data

,Number,String,Type,Method
0,2018.2610294,"Bryan Hatfield and Kelly Hatfield, husband and...",PERSON,relationship_list
1,2018.2610299,"Nicholas J Scarpello and Stacy M Scarpello, hu...",PERSON,relationship_list
2,2018.2610318,"JOYCE A MANN AND CHARLES G MANN , WIFE AND HUS...",PERSON,person_list
3,2018.2610370,"ROBERT E. MORAN AND CAROL D. MORAN, HUSBAND AN...",PERSON,relationship_list
4,2018.2610376,"Mark Parish and Karla Parish , husband and wife\n",PERSON,relationship_list
5,2018.2610399,"KENNETH L HILSABECK, ; BONNIE L HILSABECK, ; ...",PERSON,relationship_list
6,2018.2610537,"WILLIAM H MCDEVITT AND DIANE L MCDEVITT, HUSBA...",PERSON,relationship_list
7,2018.2610585,"JAMES L. JONES AND DARLENE JONES, HUSBAND AND ...",PERSON,relationship_list
8,2018.2610593,"FRED RUDACILLE AND YVONNE M RUDACILLE, HUSBAND...",PERSON,relationship_list
9,2018.2610596,"Karen J . Kotl ari k and John J . Kotl ari k, ...",PERSON,relationship_list
10,2018.2669,"Harold E. Vogt and Janet M. Vogt, as husband a...",PERSON,relationship_list
11,2018.1724,"SETTENNO M. SUNSERI AND PATRICIA A. SUNSERI, H...",PERSON,relationship_list
12,2018.1890,"RODERICK D MURPHY AND SHAVONNA. S MURPHY, HUSB...",PERSON,relationship_list
13,2018.1938,"TERRY GILLESPIE AND KATRINA M. GILLESPIE, HUSB...",PERSON,relationship_list
14,2018.4002,Timothy Maxwell Harkrider Sr and Amanda C Hark...,PERSON,person_list
15,2018.4013,Roxanne L Adams and Jason Andrew Butler as Wif...,PERSON,relationship_list
16,2018.4018,"CHRISTOPHER BURGESS AND BRENDA S SHERROD, HUSB...",PERSON,relationship_list
17,2018.4130,"Barbara H Gallira and Jack C Gallira, Wife and...",PERSON,relationship_list
18,2018.4186,"STANLEY CHARLES AND BRANDI CHARLES, HUSBAND AN...",PERSON,relationship_list
19,2018.4205,Gabriel Spence and Jessica L Spence a/k/a Jess...,PERSON,relationship_list
20,2018.4232,"JONATHAN HOBBS AND MEGAN HOBBS, HUSBAND AND WI...",PERSON,relationship_list
21,2018.27411,"ALAN L STRICKLAND AND PAMELA J STRICKLAND , HU...",PERSON,relationship_list
22,2018.27421,"Deborah L Sullivan AND Donald J Sullivan, WIFE...",PERSON,relationship_list
23,2018.27431,"JOSEPH CARNES AND LINDSAY CARNES, HUSBAND AND ...",PERSON,relationship_list
24,2018.27464,FLAVIO J.L. BITENCOURT and HILDA B.M. BITENCOU...,PERSON,relationship_list
25,2018.27481,"JONATHAN K MALONE, and TIFFANY A MALONE, HUSBA...",PERSON,relationship_list
26,2018.27541,"Martin Gennah and Pamela Gennah, Husband and W...",PERSON,relationship_list
27,2018.27605,"MICHELLE NICOLE ANDERSON AND BRADLEY ANDERSON,...",PERSON,relationship_list
28,2018.43851,"Tui H. Anderson and Bobbi K. Anderson, husband...",PERSON,relationship_list
29,2018.43855,"Sherri L. Ellis and Michael E. Ellis, wife and...",PERSON,relationship_list
...,...,...,...,...
987,6723524,"Down By the Dam, LLC, a Washington limited lia...",ORG,org_list
988,6723525,"Carrington Mortgage Services, LLC .\n",ORG,org_list
989,6723528,Trustee Services Inc\n,ORG,org_list
990,6723529,"Legacy Properties Spokane, LLC, a Washington L...",ORG,org_list
991,6723533,"MORTGAGE ELECTRONIC REGISTRATION SYSTEMS, INC....",ORG,org_list
992,7986137,U.S. BANK NATIONAL ASSOCIATION Deed Of Trust D...,ORG,org_list
993,7986158,"Wells Fargo Bank, N.A., successor by merger to...",ORG,org_list
994,7986159,ADVANTA FINANCE CORP.\n,ORG,org_list
995,7986174,The Department of Social and Health Services.\n,ORG,org_list
996,7986193,NATIONSTAR MORTGAGE LLC F/K/A CENTEX HOME EQUI...,ORG,org_list
997,7986196,Boeing Employees' Credit Union.\n,ORG,org_list
998,7986198,HomeStreet Bank.\n,ORG,org_list
999,7986222,"CLS MORTGAGE, INC., Original\n",ORG,org_list
1000,7986225,Mortgage Department Solarity Credit Union\n,ORG,org_list
1001,7986227,"U.S. BANK TRUST, N.A., AS TRUSTEE FOR LSFS MAS...",ORG,org_list
1002,7986229,QUALSTAR CREDIT UNION\n,ORG,org_list
1003,7986240,"MORTGAGE ELECTRONIC REGISTRATION SYSTEMS, INC....",ORG,org_list
1004,7986254,"M&A SUNSHINE INVESTMENTS, LLC, a Washington Li...",ORG,org_list
1005,2095514,FIRST AMERICAN TITLE INSURANCE COMPANY\n,ORG,org_list
1006,2095516,"NEW RESIDENTIAL MORTGAGE, LLC\n",ORG,org_list
1007,2018.7992,"U.S. Bank Trust Company, National Association\n",ORG,org_list
1008,2018.8003,OREGON DEPARTMENT OF REVENUE\n,ORG,org_list
1009,2018.8015,WEST SALEM PLUMBING and INC\n,ORG,org_list
1010,2018.8032,"Stafford Homes & Land, LLC, an Oregon limited ...",ORG,org_list
1011,2018.8041,"U.S. Bank National Association, a national ban...",ORG,org_list
1012,2018.8044,"WELLS FARGO FINANCIAL NATIONAL BANK, A NATIONA...",ORG,org_list
1013,2018.8061,"Nations Direct Mortgage, LLC.\n",ORG,org_list
1014,2095554,MASON COUNTY TITLE COMPANY\n,ORG,org_list
1015,2018.572220,"JPMorgan Chase Bank, National Association\n",ORG,org_list
1016,2018.572224,FINANCE OF AMERICA MORTGAGE LLC.\n,ORG,org_list

In [5]:
data.replace(r'\\n',' ', regex=True, inplace=True)

In [6]:
data_to_append = pd.read_csv('Names.csv')

In [7]:
data['Manual_Type'] = data_to_append['Manual_Type']

In [8]:
data['Result'] = (data['Type'] == data['Manual_Type'])

In [9]:
data['Result'].value_counts().plot(kind='pie', subplots=True)

array([<matplotlib.axes._subplots.AxesSubplot object at 0x00000196E8E37BE0>],
      dtype=object)

In [13]:
data['Result'].value_counts()

True     955
False     62
Name: Result, dtype: int64

In [11]:
#
# Back up for NLTK tokenizer, stemming, and removing stopwords
# These are not used 
# 
'''
from nltk import word_tokenize

from nltk.stem.porter import PorterStemmer
from nltk import PunktSentenceTokenizer
from nltk.stem import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords

stop_words = stopwords.words('english')

stemmer = SnowballStemmer('english')

def stem_tokens(tokens, stemmer):
    stemmed = []
    for item in tokens:
        stemmed.append(stemmer.stem(item))
    return stemmed

test = '2018.07.13.44 ~ Mukhtar Singh Toor, a married man as his separate estate'

tokens = word_tokenize(test)
tokens = [w for w in tokens if not w in stop_words]# Remove stopwords.

tokens = stem_tokens(tokens, stemmer)
#print(tokens)
'''

"\nfrom nltk import word_tokenize\n\nfrom nltk.stem.porter import PorterStemmer\nfrom nltk import PunktSentenceTokenizer\nfrom nltk.stem import SnowballStemmer\nfrom nltk.stem.wordnet import WordNetLemmatizer\nfrom nltk.corpus import stopwords\n\nstop_words = stopwords.words('english')\n\nstemmer = SnowballStemmer('english')\n\ndef stem_tokens(tokens, stemmer):\n    stemmed = []\n    for item in tokens:\n        stemmed.append(stemmer.stem(item))\n    return stemmed\n\ntest = '2018.07.13.44 ~ Mukhtar Singh Toor, a married man as his separate estate'\n\ntokens = word_tokenize(test)\ntokens = [w for w in tokens if not w in stop_words]# Remove stopwords.\n\ntokens = stem_tokens(tokens, stemmer)\n#print(tokens)\n"